html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/***************************************
** Icons
****************************************/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/***************************************
** Buttons
****************************************/
.button {
  background: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

/***************************************
****************************************
**  Add Contact Button
****************************************/
.add-contact-button {
  background-color: #e91e63;
  bottom: 0;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  position: fixed;
  right: 0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  outline: none;
  overflow: hidden;
  text-align: center;
  width: 3rem;
  font-size: 1.5rem;
  color: white;
}

/***************************************
****************************************
**  Header **
****************************************/

.header {
  display: flex;
  align-items: stretch;
  color: #333;
  padding: 0.3rem;
  background-color: #2a56c6;
  color: white;
}

.header__left {
  flex: auto;
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu-button {
  display: flex;
  font-size: 2rem;
  color: white;
}

.header__title {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 300;
}

.header__search {
  display: flex;
}

.header__search-button {
  font-size: 1.5rem;
  color: white;
}

/***************************************
****************************************
**  Search **
****************************************/

.search {
  display: flex;
}

/***************************************
****************************************
**  Search **
****************************************/

.contact-list {
  margin: 0;
  min-height: 80%;
  padding: 1.5rem 0.5rem;
}

.contact-list__group {
  list-style: none;
  display: flex;
}

.contact-list__group-index {
  font-weight: 700;
  font-size: 1.2rem;
  color: #2a56c6;
  padding-left: 1rem;
  height: 3rem;
  width: 4rem;
  display: inline-flex;
  align-items: center;
}

.contact-list__group-list {
  padding: 0;
  flex: 1;
}

.contact-list__contact-element {
  padding: 0 1rem;
  width: 100%;
  list-style: none;
  display: flex;
  height: 3rem;
  align-items: center;
  cursor: pointer;
}

.contact-list__contact-element:focus,
.contact-list__contact-element:hover {
  background-color: #e3e3e3;
}
