/***************************************
Colors
******

Blue              #2a56c6
Red               #e91e63
Dark Grey 1       #222222
Dark Grey 2       #3b3b3b
Dark Grey 2       #6e6e6e
Light Grey 1      #707070
Light Grey 2      #a0a0a0
Light Grey 3      #e3e3e3

****************************************/

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #2a56c6;
}

html,
body,
input,
textarea,
select,
button {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease-out;
  background: white;
}

.app--menu-visible {
  transform: translateX(15rem);
}

.app__main {
  display: flex;
  flex: 1;
  overflow: hidden;
  transition: opacity 0.3s ease-in 0.1s;
}

.app--menu-visible .app__main {
  opacity: 0.5;
}

.app__modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  .app__modal {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .app__modal.visible {
    opacity: 1;
  }
}

/***************************************
** Utility Classes
****************************************/
.visible.visible {
  visibility: visible;
}

.hidden {
  display: none;
}

.textarea--auto-resize {
  resize: none;
  overflow: hidden;
}

/***************************************
** Icons
****************************************/
.icon-container {
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/***************************************
** Common Elements
****************************************/
.button {
  background: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:focus,
.button:hover,
.button:active {
  outline: transparent;
  color: #222222;
}

/***************************************
****************************************
**  Add Contact Button
****************************************/
.add-contact__button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e91e63;
  color: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  overflow: hidden;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.add-contact__button:focus,
.add-contact__button:active,
.add-contact__button:hover {
  color: white;
}

.add-contact__button:hover {
  background-color: #ec5280;
  box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.14),
    1px 3px 18px 4px rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.add-contact__button:focus {
  box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.14),
    1px 3px 18px 4px rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.add-contact__button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

/***************************************
****************************************
**  Header
****************************************/

.header {
  position: relative;
  display: flex;
  color: #333;
  padding: 0.3rem;
  background-color: #2a56c6;
  color: white;
  box-shadow: 0 0 10px #9e9e9e;
  flex: 0 0 auto;
}

.header__left {
  flex: auto;
  display: flex;
  align-items: center;
}

.header__title {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 300;
  color: inherit;
  text-decoration: inherit;
}

.header__menu {
  display: flex;
}

.header__search {
  display: flex;
  flex: 0 1 30rem;
  justify-content: flex-end;
}

.header__menu-button,
.header__open-search-button {
  display: flex;
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem;
}

.header__menu-button:hover,
.header__menu-button:active,
.header__menu-button:focus,
.header__open-search-button:hover,
.header__open-search-button:active,
.header__open-search-button:focus {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

@media only screen and (min-width: 768px) {
  .header__open-search-button {
    display: none;
  }
}

/***************************************
****************************************
**  Menu
****************************************/

.menu {
  position: absolute;
  top: 0;
  left: -15rem;
  width: 15rem;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.menu__title {
  color: #2b55c6;
  text-align: center;
  font-weight: 400;
  margin: 0;
  flex: 0 0 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  list-style: none;
  flex-direction: column;
  padding: 0;
  overflow-x: auto;
  margin: 0;
}

.menu__item {
  position: relative;
  padding: 0;
  flex: 1;
  display: flex;
  cursor: pointer;
}

.menu__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transform: scaleY(0);
  background-color: #2a56c6;
  transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s;
}

.menu__item--active::before,
.menu__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.menu__link:link,
.menu__link:visited,
.menu__link--tag:link,
.menu__link--tag:visited {
  color: inherit;
  padding: 1rem 2rem;
  z-index: 101;
  transition: color 0.2s ease-in;
}

.menu__item--active > .menu__link--tag,
.menu__item:hover > .menu__link--tag {
  color: white;
}

/***************************************
****************************************
**  Search
****************************************/

.search {
  visibility: hidden;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  bottom: 0.3rem;
  right: 0.3rem;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .search {
    position: unset;
    flex: 1;
    display: flex;
    border-radius: 0.3rem;
    overflow: hidden;
    margin: 0.3rem;
    visibility: visible;
  }
}

.search__text-input {
  flex: 1;
  margin-left: -3rem;
  margin-right: -3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .search__text-input {
    padding-left: 1rem;
  }
}

.search__text-input:focus {
  outline: none;
}

.search__clear-button,
.search__close-button {
  position: relative;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  display: flex;
  color: #6e6e6e;
  width: 3rem;
  cursor: pointer;
}

.search__close-icon {
  padding-left: 1rem;
}

.search__clear-icon {
  padding-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .search__close-button {
    visibility: hidden;
  }
}

/***************************************
****************************************
**  Contact List
****************************************/

.contact-list {
  margin: 0;
  min-height: 80%;
  padding: 1.5rem 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.contact-list__group {
  list-style: none;
  display: flex;
}

.contact-list__group-index {
  font-weight: 700;
  font-size: 1.2rem;
  color: #2a56c6;
  padding-left: 1rem;
  height: 3rem;
  width: 4rem;
  display: inline-flex;
  align-items: center;
}

.contact-list__group-list {
  padding: 0;
  flex: 1;
}

.contact-list__contact-element {
  padding: 0 1rem;
  width: 100%;
  list-style: none;
  display: flex;
  height: 3rem;
  align-items: center;
  cursor: pointer;
}

.contact-list__contact-element.ally-focus-within,
.contact-list__contact-element:hover {
  background-color: #e3e3e3;
}

.contact-list__link,
.contact-list__link:link,
.contact-list__link:visited,
.contact-list__link:focus,
.contact-list__link:active,
.contact-list__link:hover {
  color: inherit;
  outline: none;
}

/***************************************
****************************************
**  Contact Details
****************************************/

.contact-details {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

@media only screen and (min-width: 786px) {
  .contact-details {
    width: 30rem;
    height: 30rem;
    box-shadow: 0 0 10px #9e9e9e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact-details__topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px #e3e3e3 solid;
  flex: 0 0 4rem;
  background-color: #f7f7f7;
  padding: 0 1rem;
}

.contact-details__close-button {
  margin-right: auto;
}

.contact-details__close-button,
.contact-details__favorite-button,
.contact-details__edit-button,
.contact-details__delete-button {
  font-size: 1.5rem;
  color: #6e6e6e;
  padding: 0.5rem;
  display: flex;
}

.contact-details__delete-button:hover svg {
  fill: #e91e63;
}

.contact-details__name {
  font-size: 3rem;
  margin: 1.8rem 0 0;
  font-weight: 300;
}

.contact-details__info {
  color: #3b3b3b;
  padding: 0 1rem 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.contact-details__tag-container {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.contact-details__tag {
  background-color: #e3e3e3;
  color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0.3rem 0;
}

.contact-details__list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  flex: 1;
}

.contact-details__row {
  display: flex;
}

.contact-details__row-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  color: #707070;
}

.contact-details__row-content {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.contact-details__row-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact-details__row-item,
.contact-details__detail-value {
  color: #3b3b3b;
}

.contact-details__row-item {
  flex: 1;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  height: 3rem;
}

.contact-details__detail-value {
  font-size: 0.9rem;
  font-weight: 300;
}

.contact-details__detail-label {
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 1rem;
  color: #a0a0a0;
}

.contact-details__notes {
  margin-top: 2.5rem;
}

.contact-details__notes-heading {
  margin: 0 0 0.5rem;
  font-weight: 300;
}

.contact-details__notes-content {
  margin: 0;
  font-weight: 300;
  word-wrap: break-word;
}

/***************************************
****************************************
**  Contact Edit Dialog
****************************************/

.contact-edit {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

@media only screen and (min-width: 786px) {
  .contact-edit {
    width: 30rem;
    height: 30rem;
    box-shadow: 0 0 10px #9e9e9e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact-edit__header {
  display: flex;
  align-items: center;
  border-bottom: 1px #e3e3e3 solid;
  flex: 0 0 4rem;
  background-color: #f7f7f7;
  padding: 0 1rem;
}

.contact-edit__heading {
  font-weight: 300;
}

.contact-edit__form {
  flex: 1;
  display: flex;
  color: #3b3b3b;
  padding: 0;
  /* I need this for Mozilla */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.contact-edit__list {
  list-style: none;
  padding: 1rem 4rem 1rem 1rem;
  margin: 0;
  flex: 1;
  /* I need this for Chrome */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.contact-edit__row {
  display: flex;
}

.contact-edit__row-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  color: #707070;
  flex: 0;
}

.contact-edit__row-content {
  flex: 1;
  display: flex;
  padding-left: 2rem;
  max-width: 30rem;
  min-height: 3rem;
  align-items: center;
}

.contact-edit__input-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.contact-edit__input-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.contact-edit__delete-entry-button,
.contact-edit__add-entry-button {
  position: absolute;
  bottom: 0.5rem;
  opacity: 0.6;
  font-size: 1.3rem;
  padding: 0.3rem;
  cursor: pointer;
}

.contact-edit__delete-entry-button {
  right: -1.2rem;
  color: #3b3b3b;
}

.contact-edit__add-entry-button {
  display: none;
  right: -3rem;
  color: #2a56c6;
}

.contact-edit__input-item:last-of-type > .contact-edit__add-entry-button {
  display: block;
}

.contact-edit__input-item:hover > .contact-edit__delete-entry-button,
.contact-edit__input-item:hover > .contact-edit__add-entry-button {
  opacity: 1;
}

.contact-edit__delete-entry-button,
.contact-edit__add-entry-button {
  background: transparent;
  border: none;
  transition: opacity 0.1s ease-out;
}

.contact-edit__delete-entry-button:hover,
.contact-edit__delete-entry-button:focus,
.contact-edit__delete-entry-button:active,
.contact-edit__add-entry-button:hover,
.contact-edit__add-entry-button:focus,
.contact-edit__add-entry-button:active {
  outline: none;
}

.contact-edit__delete-entry-button:focus,
.contact-edit__add-entry-button:focus {
  opacity: 1;
}

.contact-edit__delete-entry-button:hover + .contact-edit__add-entry-button {
  opacity: 0.4;
}

.contact-edit__input {
  flex: 1;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  margin: 1rem;
}

.contact-edit__input:not(:last-child) {
  margin-right: 1rem;
}

.contact-edit__input:focus {
  outline: none;
  border-bottom: 1px solid #2a56c6;
}

.form--show-validation-results .contact-edit__input:invalid {
  border-color: #e91e63;
}

.contact-edit__controlbar {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.contact-edit__save-button,
.contact-edit__cancel-button {
  background: none;
  padding: 1rem 1rem 1.5rem;
  color: #2a56c6;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-edit__save-button:hover,
.contact-edit__save-button:focus,
.contact-edit__save-button:active,
.contact-edit__cancel-button:hover,
.contact-edit__cancel-button:focus,
.contact-edit__cancel-button:active {
  outline: none;
}
